blockquote {
    max-width: 70vw;
}

bdo {
    display: flex;
    flex-direction: column;
}

bdo[dir="rtl"] > blockquote {
    margin-right: 8vw;
}

bdo[dir="ltr"] > blockquote {
    margin-left: 8vw;
}

a {
    color: coral;
}

a:hover {
    color: purple;
}

bdo > * {
    padding: 2vw 0vw;
}

.dropdown {
    margin: 1vw 0vw;
    padding: 1vh;
    border-radius: 5%;
    width: 30vw;
    background-color: lime;
    margin-right: auto;
    position: relative;
    display: inline-block;
}

.displaymenu {
    display: none;
    width: 20vw;
    z-index: 1;
    flex-direction: column;
}

.dropdown:hover > .displaymenu {
    display: flex;
}

main {
    padding: 2vw;
    display: flex;
    flex-direction: column;
}